* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    background: #7f0bcc;
  }
  
  .memory-game {
    width: 740px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  .memory-card {
    width: calc(19% - 10px);
    height: calc(30.333% - 13px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  @media (width < 700px) {
    .memory-card{
    max-width: calc(19% - 10px);
    max-height: calc(27.333% - 13px);
    }
  }
  @media (width < 500px) {
    .memory-card{
    max-width: calc(20%);
    max-height: calc(19.333% - 13px);
    }
  }
  @media (width < 400px) {
    .memory-card{
    max-width: calc(19%);
    max-height: calc(15.333% - 13px);
    }
  }
  .front-face,
  .back-face {
    width: 100%;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  .memory-card:active{
    transform: scale(0.97);
    transition: transform .2s;
  }
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  .front-face {
    transform: rotateY(180deg);
  }
  .modal-block{
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: .3s;
  }
  .modal-blur{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .modal-window{
    background-color: purple;
    padding: 80px;
    color: pink;
    border-radius: 20px;
  }
  .show{
    transition: .3s;
    opacity: 1;
    z-index: 10;
  }